# docs
docs/
demos/
examples/

# assets
assets/
!assets/banner.png

# source code
index.ts

# tests
*.spec.*
coverage/

# config files
.vscode
.github
.eslintrc.js
.eslintrc
.eslintignore
.prettierrc
.prettierignore
babel.config.js
tsconfig.json
tsconfig.*.json
webpack.config.js
rollup.config.js
api-extractor.json
yarn.lock
target
package-lock.json
*.node
npm

# cache
temp